@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyXsovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWyovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyWAovBJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v27/ieVo2ZhZI2eCN5jzbjEETS9weq8-_d6T_POl0fRJeyVspfBJ.ttf) format('truetype');
}
.header_content {
  display: flex;
  justify-content: space-between;
}
/* navBar */
.icon_menu {
  width: 30px;
}
.menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
}
.menu_active {
  display: block;
  z-index: 1;
}
.menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid grey;
}
.icon_cross {
  width: 30px;
}
.nav {
  border-bottom: 1px solid grey;
  padding: 15px;
}
@media screen and ((min-width: 768px)) {
  .nav {
    border: none;
    padding: 0;
  }
}
.nav_bar_link {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}
.nav_bar_link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
@media screen and ((min-width: 768px)) {
  .nav_bar_link {
    margin: 0;
    display: inline;
    color: #000;
    margin-right: 20px;
  }
}
.menu_footer {
  padding: 15px;
}
.menu_footer a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.menu_footer a .icon_phone {
  width: 30px;
}
.nav_bar {
  display: flex;
  align-items: center;
}
.header_basket {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
@media screen and ((min-width: 768px)) {
  .header_basket {
    position: relative;
    margin-left: 50px;
    right: 0;
    bottom: 0;
  }
}
.header_basket button {
  color: #fff;
  cursor: pointer;
  background-color: #ff6900;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  transition: 0.2s;
}
.header_basket button:hover {
  background-color: #e36002;
}
.piazza_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 20px;
  padding: 45px 0px;
}
@media screen and ((min-width: 768px)) {
  .piazza_content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and ((min-width: 1366px)) {
  .piazza_content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.pizza_box {
  width: 300px;
  margin: 0 auto;
}
.pizza_info h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin: 10px 0px;
}
.pizza_info p {
  color: #5c6370;
  font-size: 14px;
}
.pizza_info p span {
  margin-right: 5px;
}
@media screen and ((min-width: 768px)) {
  .pizza_info {
    min-height: 110px;
  }
}
.drink_info {
  min-height: 0;
}
.pizza_price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
}
.pizza_price span {
  font-style: 16px;
  font-weight: bold;
}
.pizza_price .button_popup {
  background-color: #fff0e6;
  color: #d15700;
  font-size: 16px;
  border: none;
  text-decoration: none;
  border-radius: 25px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s;
}
.pizza_price .button_popup:hover {
  background-color: #ffcdac;
}
.drink_price {
  margin: 0;
}
.modal_pizza {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}
.modal_pizza_active {
  opacity: 1;
  pointer-events: all;
}
.pizza_popup {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow-y: scroll;
  padding: 20px 0px;
}
@media screen and ((min-width: 768px)) {
  .pizza_popup {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 80px;
    transform: scale(0.5);
    transition: 0.3s;
  }
  .pizza_popup_active {
    transform: scale(1);
  }
}
@media screen and ((min-width: 1024px)) {
  .pizza_popup {
    grid-template-columns: 1fr 1fr;
    overflow-y: hidden;
  }
}
@media screen and ((min-width: 1366px)) {
  .pizza_popup {
    width: 1000px;
    height: auto;
  }
}
.pizza_popup_close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.pizza_popup_close .icon_cross_black {
  width: 30px;
}
.pizza_popup_img {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.pizza_popup_content {
  margin-top: 10px;
}
.pizza_popup_content ::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}
.pizza_popup_content ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}
.pizza_popup_content_scroll {
  margin-bottom: 30px;
  padding: 0px 30px;
}
@media screen and ((min-width: 1024px)) {
  .pizza_popup_content_scroll {
    max-height: 450px;
    overflow-y: auto;
  }
}
.pizza_popup_content_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.pizza_popup_content_title_info {
  font-size: 14px;
  color: #5c6370;
}
.pizza_popup_content_structure {
  margin-bottom: 10px;
  margin-top: 10px;
}
.pizza_popup_content_structure span {
  font-size: 16px;
}
.pizza_popup_content_size {
  text-align: center;
  margin-bottom: 10px;
}
.pizza_popup_content_size .pizza_popup_content_size_button {
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
}
.pizza_popup_content_size .pizza_popup_content_size_button_active {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and ((min-width: 768px)) {
  .pizza_popup_content_size {
    text-align: start;
  }
}
.pizza_popup_content_dough {
  text-align: center;
  margin-bottom: 10px;
}
.pizza_popup_content_dough .pizza_popup_content_dough_button {
  font-size: 12px;
  padding: 5px 20px;
  cursor: pointer;
  border: none;
}
.pizza_popup_content_dough .pizza_popup_content_dough_button_active {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
@media screen and ((min-width: 768px)) {
  .pizza_popup_content_dough {
    text-align: start;
  }
}
.pizza_popup_content_topping_title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.pizza_popup_content_topping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
@media screen and ((min-width: 768px)) {
  .pizza_popup_content_topping {
    display: flex;
  }
}
@media screen and ((min-width: 1024px)) {
  .pizza_popup_content_topping {
    display: grid;
  }
}
.pizza_popup_content_topping_box {
  text-align: center;
  width: 120px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 105, 0, 0);
  border-radius: 25px;
  cursor: pointer;
}
.pizza_popup_content_topping_box img {
  width: 90px;
}
.pizza_popup_content_topping_box p {
  font-size: 12px;
}
.pizza_popup_content_topping_box span {
  font-size: 16px;
}
.pizza_popup_content_topping_box_active {
  border: 1px solid #ff6900;
  box-shadow: none;
}
.pizza_popup_content_button {
  padding: 0 30px;
  margin-bottom: 10px;
}
.pizza_popup_content_button button {
  color: #fff;
  padding: 15px 0px;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: #ff6900;
  cursor: pointer;
}
.pizza_popup_content_button button:hover {
  background-color: #e36002;
}
.modal_basket {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}
.modal_basket_active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
.popup_basket {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  display: grid;
  grid-template-rows: 10fr 2fr;
  right: -50%;
  top: 0;
  transition: 0.5s;
}
.popup_basket_active {
  right: 0;
}
.popup_basket ::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}
.popup_basket ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and ((min-width: 768px)) {
  .popup_basket {
    width: 80%;
  }
}
@media screen and ((min-width: 1024px)) {
  .popup_basket {
    width: 35%;
  }
}
@media screen and ((min-width: 1366px)) {
  .popup_basket {
    width: 25%;
  }
}
.popup_basket_close {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  cursor: pointer;
}
.popup_basket_scroll {
  min-height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 30px;
}
.popup_basket_title {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}
.popup_basket_info_content {
  position: relative;
  margin: 30px 0px;
}
.popup_basket_info {
  display: flex;
  border-bottom: 1px solid #000000;
  align-items: center;
  padding-bottom: 20px;
}
.popup_basket_info_img {
  width: 60px;
  height: 60px;
}
.popup_basket_info_text {
  margin-left: 15px;
}
.popup_basket_info_text h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
.popup_basket_info_text p {
  font-size: 12px;
  color: #5c6370;
}
.popup_basket_price_content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.popup_basket_price {
  font-size: 16px;
}
.popup_basket_add {
  display: flex;
  align-items: center;
}
.popup_basket_add button {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
}
.del_pizza {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.del_pizza img {
  width: 20px;
}
.popup_basket_footer_content {
  padding: 30px 15px;
}
.popup_basket_footer_content button {
  box-sizing: border-box;
  color: #fff;
  padding: 15px 0px;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  background-color: #ff6900;
  cursor: pointer;
}
.popup_basket_footer_content button:hover {
  background-color: #e36002;
}
.popup_basket_footer_info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.user_box {
  width: 280px;
  margin: 0 auto;
  margin-top: 100px;
}
.user_label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.user_input {
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(217, 86, 10, 0.5);
  border-radius: 5px;
}
.user_button {
  margin-top: 20px;
  width: 100%;
  border: 1px solid rgba(217, 86, 10, 0.5);
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
}
.map {
  margin-top: 25px;
}
.map_title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #ff6900;
}
.map_address_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.map_address_box .map_address_content {
  margin: 10px;
  width: 280px;
  display: flex;
}
.map_address_box .map_address_content div {
  width: 100%;
}
.map_address_box .map_address_content .map_adress_locality_select {
  position: relative;
}
.map_address_box .map_address_content .map_adress_locality_select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: rgba(0, 0, 0, 0.3) transparent;
  border-radius: 1px;
  pointer-events: none;
}
.map_address_box .map_address_content .map_adress_locality_select .locality_conent_bars {
  border-radius: 5px;
  text-align: left;
  background: #fff;
  cursor: pointer;
}
.map_address_box .map_address_content .map_adress_locality_select .locality_conent_bars_active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(255, 105, 0, 0.4);
}
.map_address_box .map_address_content .locality_content_dropdown {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  min-height: 110px;
  background-color: #fff;
  border: 1px solid rgba(255, 105, 0, 0.7);
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.map_address_box .map_address_content .locality_content_dropdown_active {
  display: block;
}
.map_address_box .map_address_content .locality_content_dropdown .locality_content_dropdown_item {
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s;
  cursor: pointer;
}
.map_address_box .map_address_content .locality_content_dropdown .locality_content_dropdown_item:hover {
  background-color: #ff6900;
  color: #fff;
}
.map_address_box .map_address_content .locality_content_dropdown .locality_content_dropdown_item--dark:hover {
  color: #000;
  background-color: #fff;
}
.map_address_box .map_address_content .map_address {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(255, 105, 0, 0.7);
  border-radius: 5px;
}
.map_address_box .map_address_content .map_address_house_kv {
  width: 95%;
}
.map_address_box .map_address_content label {
  display: block;
  margin-bottom: 5px;
}
.map_address_box .map_address_content button {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 105, 0, 0.7);
  border-radius: 5px;
  cursor: pointer;
}
.card_box {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-top: 25px;
}
.card_content {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  padding-top: 160px;
  border: 1px solid rgba(217, 86, 10, 0.6);
}
.card_content .inputBox {
  margin-bottom: 20px;
}
.card_content .inputBox span {
  display: block;
  color: #999;
  padding-bottom: 5px;
  font-size: 12px;
}
@media screen and ((min-width: 768px)) {
  .card_content .inputBox span {
    font-size: 18px;
  }
}
.card_content .inputBox input,
.card_content select {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  color: #444;
  border: 1px solid rgba(217, 86, 10, 0.6);
}
.card_content .flexbox {
  display: flex;
  gap: 15px;
}
.card_content .flexbox .inputBox {
  flex: 1 1;
}
.card_content .card_button {
  width: 100%;
  background: linear-gradient(45deg, #ff6900, #ffa200);
  padding: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear;
  border: none;
  border-radius: 5px;
}
.card_content .card_button:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}
.card_info {
  margin-bottom: -50px;
  position: relative;
  height: 250px;
  width: 300px;
}
@media screen and ((min-width: 768px)) {
  .card_info {
    width: 400px;
  }
}
.card_info .card_info_front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff6900, #ffa200);
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.4s ease-out;
}
.card_info .card_info_front .card_info_images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.card_info .card_info_front .card_info_images img {
  height: 50px;
  width: 50px;
}
.card_info .card_info_front .card_info_number {
  padding: 30px 0;
  font-size: 22px;
  color: #fff;
}
.card_info .card_info_front .flexbox {
  display: flex;
}
.card_info .card_info_front .flexbox .box:nth-child(1) {
  margin-right: auto;
}
.card_info .card_info_front .flexbox .box {
  font-size: 15px;
  color: #fff;
}
.card_info .card_info_front_active {
  transform: perspective(1000px) rotateY(180deg);
}
.card_info .card_info_back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #ff6900, #ffa200);
  border-radius: 5px;
  padding: 20px 0;
  text-align: right;
  backface-visibility: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.4s ease-out;
}
.card_info .card_info_back .stripe {
  background: #000;
  width: 100%;
  margin: 10px 0;
  height: 50px;
}
.card_info .card_info_back .card_info_back_box {
  padding: 0 20px;
}
.card_info .card_info_back .card_info_back_box span {
  color: #fff;
  font-size: 15px;
}
.card_info .card_info_back .card_info_back_box .cvv_box {
  height: 50px;
  padding: 10px;
  margin-top: 5px;
  color: #fff;
  border-radius: 5px;
  width: 100%;
}
.card_info .card_info_back .card_info_back_box img {
  margin-top: 30px;
  height: 30px;
  width: 30px;
}
.card_info .card_info_back_active {
  transform: perspective(1000px) rotateY(0);
}
.cardType {
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
.container {
  margin: 0 auto;
  padding: 15px;
}
@media screen and ((min-width: 768px)) {
  .container {
    max-width: 700px;
  }
}
@media screen and ((min-width: 1024px)) {
  .container {
    max-width: 940px;
  }
}
@media screen and ((min-width: 1366px)) {
  .container {
    max-width: 1140px;
  }
}
